[Unit]
Description=Xen Orchestra
AssertPathExists={{ xen_orchestra_dir }}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
KillMode=mixed
KillSignal=SIGINT
User={{ xen_orchestra_svc_user }}
Group={{ xen_orchestra_svc_group }}
WorkingDirectory={{ xen_orchestra_dir }}/packages/xo-server
ExecStart=yarn start

[Install]
WantedBy=multi-user.target
